system_ext/priv-app/Settings/Settings.apk
system_ext/apex/com.android.vndk.v30.apex
boot.img
vendor/etc/camera/megviifacepp_0_5_2_model
vendor/lib64/libMegviiFacepp-0.5.2.so
product/priv-app/Velvet/Velvet.apk
product/priv-app/GmsCore/GmsCore.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/app/Messages/Messages.apk
bootimg/13_dtbdump_g;sV_G=`.dtb
modem.img
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/priv-app/MIUIGalleryGlobal/MIUIGalleryGlobal.apk
system/system/app/MIUIVideoPlayer/MIUIVideoPlayer.apk
